<!-- BEGIN META-INF/resources/templates/screens/Freesurfer_cort_parc.vm -->
#set($scanCounter=900)
#set($regRegionAnalysiss = $mr.getAssessors("fs:aparcRegionAnalysis"))
#if ($regRegionAnalysiss.size()>0)

#set($showCount=$regRegionAnalysiss.size())
#if($showCount > 0)
#set($scanCounter=902)
<tr>
<td align=left colspan=2 valign=top>
<A name="LINK${scanCounter}" HREF="#LINK${scanCounter}" onClick=" return blocking($scanCounter);"><img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0> Freesurfer Cortical Parcellation</a>

	<span ID="span$!scanCounter" style="position:relative; display:none;">
#foreach($regRegionAnalysis in $regRegionAnalysiss)
<br><table>
	 <tr><td width="100"><DIV class="edit_header3">Hemisphere:</DIV></td><td><DIV class="edit_header3">$!regRegionAnalysis.hemisphere</DIV></td></tr>
 <tr><td>NumVert:</td><td>$!turbineUtils.formatNumber($!regRegionAnalysis.getNumvert(),0)</td></tr>
 <tr><td>SurfArea:</td><td>$!turbineUtils.formatNumber($!regRegionAnalysis.getSurfarea(),0)</td></tr>

	 <tr><td colspan="2" NOWRAP>&nbsp;</td></tr>
	 <tr><td colspan="2">
	<table>
	 <tr>
	  <th>Name</th>
	  <th># Vert</th>
	  <th>Surf. Area</th>
	  <th>Gray Vol.</th>
	  <th>Thickness</th>
	  <th>MeanCurv</th>
	  <th>GausCurv</th>
	  <th>FoldInd</th>
	  <th>CurvInd</th>
	 </tr>
	 #foreach($region in $regRegionAnalysis.getRegions_region())
	  <tr>
	   <td>$!region.getName()</td>
	   <td>$!turbineUtils.formatNumber($!region.Numvert,0)</td>
	   <td>$!turbineUtils.formatNumber($!region.Surfarea,0)</td>
	   <td>$!turbineUtils.formatNumber($!region.Grayvol,0)</td>
	   <td NOWRAP>$!turbineUtils.formatNumber($!region.Thickavg,3) +-$!turbineUtils.formatNumber($!region.Thickstd,3)</td>
	   <td>$!turbineUtils.formatNumber($!region.Meancurv,3)</td>
	   <td>$!turbineUtils.formatNumber($!region.Gauscurv,3)</td>
	   <td>$!turbineUtils.formatNumber($!region.Foldind,3)</td>
	   <td>$!turbineUtils.formatNumber($!region.Curvind,3)</td>
	  </tr>
	 #end
	 <tr>
	  <th colspan="9"><hr></th>
	 </tr>
	</table>
	 </td></tr></table>
#end
	</span>
		</td>
</tr>

<tr>
	<td align=left colspan=2 valign=top><BR/><BR/></td>
</tr>
	#end
#end<!-- END META-INF/resources/templates/screens/Freesurfer_cort_parc.vm -->
