<!-- BEGIN META-INF/resources/templates/layouts/FreesurferQC_64.vm -->
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<HTML>
<HEAD>
<TITLE>$!systemName</TITLE>
#includeJSFile()
<link type="text/css" rel="stylesheet" href="$content.getURI("style/xdat.css")"></link>
<script type="text/javascript" src="$content.getURI('scripts/slideshow.js')"></script>
<SCRIPT type="text/javascript">
<!--
DEFAULT_DELAY = 100;

T1_AXL_SLIDES = new slideshow("T1_AXL_SLIDES");
T1_COR_SLIDES = new slideshow("T1_COR_SLIDES");
T1_SAG_SLIDES = new slideshow("T1_SAG_SLIDES");

BRAINMASK_AXL_SLIDES = new slideshow("BRAINMASK_AXL_SLIDES");
BRAINMASK_COR_SLIDES = new slideshow("BRAINMASK_COR_SLIDES");
BRAINMASK_SAG_SLIDES = new slideshow("BRAINMASK_SAG_SLIDES");
WM_AXL_SLIDES = new slideshow("WM_AXL_SLIDES");
WM_COR_SLIDES = new slideshow("WM_COR_SLIDES");
WM_SAG_SLIDES = new slideshow("WM_SAG_SLIDES");

ASEG_AXL_SLIDES = new slideshow("ASEG_AXL_SLIDES");
ASEG_COR_SLIDES = new slideshow("ASEG_COR_SLIDES");
ASEG_SAG_SLIDES = new slideshow("ASEG_SAG_SLIDES");

AXIAL_FIRSTSLICE = 120;
AXIAL_LASTSLICE = 188;

CORONAL_FIRSTSLICE = 40;
CORONAL_LASTSLICE = 168;

SAGITTAL_FIRSTSLICE = 90;
SAGITTAL_LASTSLICE = 174;

IMGTYPES = new Array ('T1','BRAINMASK','WM','ASEG');
ORIENTATIONS = new Array ('AXL','COR','SAG');

for (i = 0; i < IMGTYPES.length; i++) { 
   for (j = 0; j < ORIENTATIONS.length; j++) {
      var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
      slideObj.prefetch=5; 
      slideObj.timeout=DEFAULT_DELAY; 	
     }
 }  


for (i = AXIAL_FIRSTSLICE; i <= AXIAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_t1_axl_")" + i+".gif";
	s.text = "$om.getLabel()_t1_axl_"+ i+".gif";
	T1_AXL_SLIDES.add_slide(s);
}

for (i = CORONAL_FIRSTSLICE; i <= CORONAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_t1_cor_")"+txt+".gif";
	s.text = "$om.getLabel()_t1_cor_"+ txt+".gif";
	T1_COR_SLIDES.add_slide(s);
}


for (i = SAGITTAL_FIRSTSLICE; i <= SAGITTAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_t1_sag_")" + txt+".gif";
	s.text = "$om.getLabel()_t1_sag_"+ txt+".gif";
	T1_SAG_SLIDES.add_slide(s);
}


for (i = AXIAL_FIRSTSLICE; i <= AXIAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_brnmsk_axl_")"+i+".gif";
	s.text = "$om.getLabel()_brnmsk_axl_"+ i+".gif";
	BRAINMASK_AXL_SLIDES.add_slide(s);
}

for (i = CORONAL_FIRSTSLICE; i <= CORONAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_brnmsk_cor_")"+txt+".gif";
	s.text = "$om.getLabel()_brnmsk_cor_"+ txt+".gif";
	BRAINMASK_COR_SLIDES.add_slide(s);
}


for (i = SAGITTAL_FIRSTSLICE; i <= SAGITTAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_brnmsk_sag_")"+txt+".gif";
	s.text = "$om.getLabel()_brnmsk_sag_"+ txt+".gif";
	BRAINMASK_SAG_SLIDES.add_slide(s);
}


for (i = AXIAL_FIRSTSLICE; i <= AXIAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_wm_axl_")"+i+".gif";
	s.text = "$om.getLabel()_wm_axl_"+ i+".gif";
	WM_AXL_SLIDES.add_slide(s);
}

for (i = CORONAL_FIRSTSLICE; i <= CORONAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_wm_cor_")"+txt+".gif";
	s.text = "$om.getLabel()_wm_cor_"+ txt+".gif";
	WM_COR_SLIDES.add_slide(s);
}


for (i = SAGITTAL_FIRSTSLICE; i <= SAGITTAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_wm_sag_")"+txt+".gif";
	s.text = "$om.getLabel()_wm_sag_"+ txt+".gif";
	WM_SAG_SLIDES.add_slide(s);
}

for (i = AXIAL_FIRSTSLICE; i <= AXIAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_aseg_axl_")"+i+".gif";
	s.text = "$om.getLabel()_aseg_axl_"+ i+".gif";
	ASEG_AXL_SLIDES.add_slide(s);
}

for (i = CORONAL_FIRSTSLICE; i <= CORONAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_aseg_cor_")"+txt+".gif";
	s.text = "$om.getLabel()_aseg_cor_"+ txt+".gif";
	ASEG_COR_SLIDES.add_slide(s);
}


for (i = SAGITTAL_FIRSTSLICE; i <= SAGITTAL_LASTSLICE; i=i+2) {
	s = new slideImg();
	var txt = i;
	if (i<100) {
	  txt = "0" + txt; 
	}
	s.src =  "$link.setPage("IMGFile.vm").addQueryData("file_name","$om.getArchivePath()/$om.getLabel()/ASSESSORS/FREESURFER_64/rgb/snaps/$om.getLabel()_aseg_sag_")"+txt+".gif";
	s.text = "$om.getLabel()_aseg_sag_"+ txt+".gif";
	ASEG_SAG_SLIDES.add_slide(s);
}

//-->
</SCRIPT>


<!-- LOGIN -->
</HEAD>
<BODY>

<table width="100%" height="100%" valign="top" border=0>
  <tr>
    <td align="left" valign="top">
      $screen_placeholder
    </td>
  </tr>
</table>
</BODY>
</HTML>
<!-- END META-INF/resources/templates/layouts/FreesurferQC_64.vm -->
